
          <!-- Compartir en Redes -->
          <div class="share-social"> 
            <span class="title"> Compartir </span>
            <a href="#" class="social-link"> <i class="bi bi-facebook"></i> </a>
            {#<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button social-link" data-show-count="false"><i class="bi bi-twitter"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>#}
            <a href="https://twitter.com/share" class="social-link"> <i class="bi bi-twitter"></i> </a>
            <a href="#" class="social-link"> <i class="bi bi-linkedin"></i> </a>
            <a href="#" class="social-link"> <i class="bi bi-whatsapp"></i> </a>
          </div>